.header {
}
.header__title {
    box-sizing: border-box;
    width: 350px;
    height: 220px;
    border-right: 10px;
    border-bottom: 20px;
    border-top: 15px;
    border-left: 10px;
    margin-bottom: 30px;
    border: solid red 2px;
    background-color: green;
}