.header {
}
.header__title {
    box-sizing: border-box;
    width: 350px;
    height: 220px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 30px;
    border: dotted red 2px;
    background-color: green;
}